body {
    font-family: 'Trebuchet MS', Arial, Helvetica sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #7c7c7c;
}

/*header*/
#menu li a{
    font-family: 'Changa One', cursive;
    color: #333333;
}

#menu li a:hover, #menu li.active a {
    color: #2FA0D5;
    background: none;
}
#frm-search {
    display: block;
    width: 169px;
    height: 32px;
    border: 1px solid #d5d5d5;
    padding: 4px 11px 6px;
    box-sizing: border-box;
    border-radius: 14px;
    margin: 0px 10px;
    position: relative;
}
#searchword {
    border: none;
    background: white;
    box-shadow: 0 0 0;
    padding: 0;
}
#btnsearch {
    border: none;
    width: 18px;
    background: url(../images/search_button.png) 0 0 no-repeat;  
}
#social a{
    display: inline-block;
    margin-left: 5px;
    font-size: 0;
    height: 25px;
    width: 27px;
    cursor: pointer;
}
#social a.twitter {
    background: url(../images/twitter.png) 0 0 no-repeat;
}
#social a.twitter:hover {
    background: url(../images/twitter_active.png) 0 0 no-repeat;
}

#social a.facebook {
    background: url(../images/facebook.png) 0 0 no-repeat;
}
#social a.facebook:hover {
    background: url(../images/facebook_active.png) 0 0 no-repeat;
}
@media screen and  (min-width: 768px) {
    #menu li{
        margin-left: 25px;
        padding: 0px;
    }
}

/*main*/
h4{
    font-family: 'Changa One', cursive;
    font-weight: 400;
    color: #333333;
    font-size: 26px;
    margin: 10px 0;
}
.readmore{
    text-decoration: underline ;
    color: #2FA0D5;
}

/*about*/
.about {
    background: #FA97C2;
    color:  #814E64;
}
h3 {
    font-family: 'Changa One', cursive;
    font-weight: 400;
    font-size: 60px;
    margin: 10px 0;

}
.about div > img {
    float: left;
    margin: 20px;
}
#frm-signup{
    border: 3px dashed #814E64;
    padding: 20px 10px;
    border-radius: 10px;
    overflow: auto;
}
#frm-signup h3{
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    color: white;
}
#frm-signup input{
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 38px;
    padding: 10px;
    box-shadow: 0 0 0;
    margin: 6px 0;
}
#frm-signup button {
    float: right;
    border: none;
    border-radius: 14px;
    color: white;
    background: #333333;
    font: 22px 'Changa One', cursive;
    text-transform: uppercase;
    line-height: 26px;
    padding: 10px 34px;
}

/*news*/
.date{
    text-align: center;
    background: #73c926;
    color: white;
    font: 30px 'Changa One', cursive;
    line-height: 30px;
    padding: 8px 0;
    border-radius: 14px;
    margin: 10px 0;
}

/*footer*/
footer{
    background: url(../images/bg.gif) 0 center repeat;
    text-align: center;
    padding: 20px;
}
footer li {
    display: inline-block;
    padding: 0 90px 15px 0;
}

footer a{
    color: #7c7c7c;
    text-decoration: none;
}
footer nav a, 
footer a:hover {
    color: white;
    text-decoration: none;
}
footer nav a:hover,
footer nav .active a{
    color: #FA97C2;
}

/*About page*/
#small-banner{
    background: url(../images/bg_slider.gif) center top repeat;
    padding: 0.25em;
    content: "";
}

.rounded-img {
    border-radius: 15px;
    float: left;
    margin-right: 15px;
}

#Testimonials .col{
    background: url(../images/quot.png) top left no-repeat;
    padding-left: 50px;
}

#Testimonials h3{
    margin-left: -10px;
}

.img-rounded{
    border: none;
    border-radius: 1em;
    padding: 10px;
}

.blog{
    clear: both;
}

.list {
    list-style-type: none;
    padding-left: 0;
}

.list li {
    padding-bottom: 10px;
    padding-left: 24px;
    background: url(../images/marker1.png) 0 4px no-repeat;
}

.list a {
    color: #7c7c7c;
    text-decoration: none;
}

.list a:hover {
    color: #73c926;
}

.form-group{
    margin-bottom: 1rem;
}